.instagram {
  text-align: center;
  margin: 100px;
}

.instagram-photos {
  margin: 4em;
}

.instagram_title {
  font-family: Nunito;
  font-size: 0.7em;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1.2px;
  text-align: center;
  color: #808285;
  margin: 0;
}

.instagram_hashtag {
  font-family: Nunito;
  font-size: 1.7em;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.88px;
  text-align: center;
  color: #000000;
  margin: 10px;
}
