button {
  width: 117px;
  height: 50px;
  border: solid 2px #ffffff;
  background: none;
  font-size: 11.9px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 3.57px;
  text-align: center;
  color: #ffffff;
  font-family: "myriad-light";
}
