@font-face {
  font-family: "myriad-bold";
  src: url("../static/images/fonts/MYRIADPRO-BOLD.woff");
}
@font-face {
  font-family: "myriad-bold-cond";
  src: url("../static/images/fonts/MYRIADPRO-BOLDCOND.woff");
}
@font-face {
  font-family: "myriad-bold-cond-it";
  src: url("../static/images/fonts/MYRIADPRO-BOLDCONDIT.woff");
}
@font-face {
  font-family: "myriad-bold-it";
  src: url("../static/images/fonts/MYRIADPRO-BOLDIT.woff");
}
@font-face {
  font-family: "myriad-cond";
  src: url("../static/images/fonts/MYRIADPRO-COND.woff");
}
@font-face {
  font-family: "myriad-cond-it";
  src: url("../static/images/fonts/MYRIADPRO-CONDIT.woff");
}
@font-face {
  font-family: "myriad-light";
  src: url("../static/images/fonts/MyriadPro-Light.woff");
}
@font-face {
  font-family: "myriad-regular";
  src: url("../static/images/fonts/MYRIADPRO-REGULAR.woff");
}
@font-face {
  font-family: "myriad-semi-bold";
  src: url("../static/images/fonts/MYRIADPRO-SEMIBOLD.woff");
}
@font-face {
  font-family: "myriad-semi-semi-bold";
  src: url("../static/images/fonts/MYRIADPRO-SEMIBOLD.woff");
}
@font-face {
  font-family: "myriad-semi-semi-bold-it";
  src: url("../static/images/fonts/MYRIADPRO-SEMIBOLDIT.woff");
}
